<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>انجمن توسعه دهندگان نرم افزار ایران</title>

    <!--   FAV ICON AND MANIFEST   -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <!--      -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <style>
      .ibm-plex-sans-arabic-thin {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 100;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-extralight {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-light {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-regular {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-medium {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 500;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-semibold {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

      .ibm-plex-sans-arabic-bold {
        font-family: "IBM Plex Sans Arabic", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
    </style>

    <style>
      .cinzel {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body class="ibm-plex-sans-arabic-regular">
    <div class="w-full flex flex-col items-center mt-12">
      <img
        src="/logo.png"
        title="logo"
        class="w-full h-full max-w-[15rem] max-h-[15rem]"
      />
      <h1 class="text-center text-3xl ibm-plex-sans-arabic-light font-bold">
        انجمن توسعه دهندگان نرم افزار ایران
      </h1>
      <h2 class="text-center text-2xl cinzel">
        Iranian Software Developers' Associative
      </h2>

      <section class="max-w-lg mt-8">
        <p>
          این انجمن نهادی است مردمی و مستقل، که برای حمایت از حقوق توسعه دهندگان
          نرم افزار تشکیل شده است، افرادی که به کار خود متعهد و علاقه مند هستند،
          حامی دیگر همکاران خود هستند، و شفافیت و راستی سرلوحه کارشان است.
        </p>

        <p>در راستای حمایت از حقوق، اصول ما بدین شرح است:</p>
        <ul class="list-disc">
          <li>شفافیت کامل</li>
          <li>مشورت و دموکراسی بین اعضا</li>
          <li>قانون مداری</li>
          <li>تعامل سازنده با کارفرمایان</li>
          <li>مبارزه مدنی و دموکراتیک و به دور از حاشیه با ناقضین حقوق</li>
        </ul>

        <p>تعدادی از کارهای در نظر گرفته شده:</p>

        <ul class="list-disc">
          <li>آگاه کردن افراد مورد حمایت از حقوقشان.</li>
          <li>حمایت از حقوق افراد استخدام شده یا کارآموز در شرکت های مختلف.</li>
          <li>کمک به شرکت ها جهت جذب نیروهای مناسب نیاز شرکت.</li>
          <li>اعتبار سنجی آموزش ها و آموزشگاه های برنامه نویسی.</li>
        </ul>
      </section>
    </div>
  </body>
</html>
